* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 10px;
}
.header a:not(.active, .logo) {
  border: 1px solid rgb(138, 131, 131);
}

.header .header-right a:last-child {
  margin-right: 20px;
}

.contianer .site-details .website-banner img {
  height: 25em;
}
.message-to-users {
  width: 31em;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.search-provider {
  display: flex;
}
.search-provider input {
  width: 300px;
  padding: 10px 10px;
}
.search-provider button {
  padding: 10px 10px;
}
.header a:hover:not(.logo, .active) {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #112943;
  color: white;
}

.header-right {
  float: right;
}
.search-provider {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .message-to-users {
    margin-top: 5em;
    width: 20em;
  }
  .note {
    margin-top: 15em;
  }
  .contianer .site-details .website-banner img {
    height: 15em;
  }
  .header a:not(.active, .logo) {
    border: none;
  }
}
.empty-container {
  background: white;
  height: 150px;
}
.boundary {
  background-color: #000000;
  height: 1px;
  opacity: 0.2;
}
.hey {
  position: relative;
  width: 100%;
  max-width: 638px;
  margin: 0 auto;
  text-align: center;
  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  color: #000000;
  top: 5em;
}

.example {
  margin: 0 auto;
  max-width: 300px;
}

.logo {
  font-family: "Sofia", sans-serif;
}
.wel {
  font-family: "Sofia", sans-serif;
}
.popular-work {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  display: flex;
}
#first-popular-work {
  width: 25em;
  height: 9em;
  margin: 6px;
  box-shadow: 1px 4px 2px 0 rgba(0, 0, 0, 0.1);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .note {
    margin-top: 20em;
  }
  .message-to-users {
    width: 20em;
  }
  .contianer .site-details .website-banner img {
    height: 15em;
  }
  .header a:not(.active, .logo) {
    border: none;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.space-before-footer {
  max-width: 1200px;
  height: 100px;
}
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  color: #888;
}
.footer-links a {
  color: #888;
  text-decoration: none;
  margin-right: 10px;
}

.footer-social a {
  color: #888;
  text-decoration: none;
  margin-right: 10px;
}

.search-provider input[type="text"] {
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5pc;
}

/* Set a style for all buttons*/
.search-provider button {
  width: 50px;
  background-color: #112943;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5pc;
}

button:hover {
  opacity: 1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
  .message-to-users {
    margin-top: 25em;
    width: 20em;
  }
  .note {
    margin-top: 25em;
  }
  .contianer .site-details .website-banner img {
    height: 15em;
  }
  .header a:not(.active, .logo) {
    border: none;
  }
}
.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(16, 15, 15);
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover:not(.logo) {
  background-color: #7d7878;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  .message-to-users {
    margin-top: 5em;
    width: 20em;
  }
  .note {
    margin-top: 15em;
  }
  .contianer .site-details .website-banner img {
    height: 15em;
  }
  .header a:not(.active, .logo) {
    border: none;
  }
}
.space-between-service-and-footer {
  height: 250px;
  background-color: white;
}

:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --accent-color: #e84545;
  --accent-color-rgb: 232, 69, 69;
  --heading-color: #32353a;
  --heading-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

.contact .info-item {
  background: rgba(var(--default-color-rgb), 0.05);
  padding: 30px;
}

.contact .info-item i {
  font-size: 38px;
  line-height: 0;
  color: var(--accent-color);
}

.contact .info-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: rgba(var(--default-color-rgb), 0.05);
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--background-color);
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="email"],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: rgba(var(--background-color-rgb), 0.5);
  border-color: rgba(var(--default-color-rgb), 0.2);
}

.contact .php-email-form input[type="text"]:focus,
.contact .php-email-form input[type="email"]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type="text"]::-moz-placeholder,
.contact .php-email-form input[type="email"]::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(var(--default-color-rgb), 0.3);
}

.contact .php-email-form input[type="text"]::placeholder,
.contact .php-email-form input[type="email"]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(var(--default-color-rgb), 0.3);
}

.contact .php-email-form button[type="submit"] {
  background: var(--accent-color);
  color: var(--contrast-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: rgba(var(--accent-color-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
